<% layout("/layouts/boilerplate") %>

<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h3>Edit Your Listing</h3>
      <form
        method="post"
        action="/listings/<%= result._id %>?_method=PUT"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="name" class="form-label">Title</label>
          <input
            type="text"
            placeholder="Add a catchy Title"
            name="listing[title]"
            class="form-control"
            id="name"
            value="<%= result.title %>"
            required
          />
          <div class="valid-feedback">Title looks perfect</div>
          <div class="invalid-feedback">Please Enter valid Title</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input
            type="text"
            placeholder="Enter Discription"
            name="listing[description]"
            class="form-control"
            id="description"
            value="<%= result.description %>"
            required
          />
          <div class="valid-feedback">Description looks perfect</div>
          <div class="invalid-feedback">Please Enter valid Description</div>
        </div>
        <div class="mb-3">
          <img
            src="<%= originalImageURL %>"
            alt="listing Image"
            height="300px"
            width="250px"
          />
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload new image</label>
          <input
            type="file"
            name="listing[image]"
            class="form-control"
            id="image"
          />
          <div class="valid-feedback">Image URL looks perfect</div>
          <div class="invalid-feedback">Please Enter valid Image URL</div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-4 col-sm-12">
            <label for="price" class="form-label">Price</label>
            <input
              type="text"
              placeholder="1200"
              name="listing[price]"
              class="form-control"
              id="price"
              value="<%= result.price %>"
              required
            />
            <div class="valid-feedback">Price looks perfect</div>
            <div class="invalid-feedback">Please Enter valid Price</div>
          </div>
          <div class="mb-3 col-md-8 col-sm-12">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              placeholder="India"
              name="listing[country]"
              class="form-control"
              id="country"
              value="<%= result.country %>"
              required
            />
            <div class="valid-feedback">Country looks perfect</div>
            <div class="invalid-feedback">Please Enter valid Country</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            placeholder="Amritsar, Punjab"
            name="listing[location]"
            class="form-control"
            id="location"
            value="<%= result.location %>"
            required
          />
          <div class="valid-feedback">Location looks perfect</div>
          <div class="invalid-feedback">Please Enter valid Location</div>
        </div>
        <div class="mb-3">
          <label for="contact" class="form-label">Contact No.</label>
          <input
            type="text"
            placeholder="9993334442"
            name="listing[contact]"
            class="form-control"
            id="contact"
            value="<%= result.contact %>"
            required
          />
          <div class="valid-feedback">Contact looks perfect</div>
          <div class="invalid-feedback">Please Enter valid Contact No.</div>
        </div>

        <button class="btn btn-dark edit-btn mb-3">Edit</button>
      </form>
    </div>
  </div>
  <!-- <script src="/public/js/script.js"></script> -->
</body>
